:root {
    --heading-font: "PT Sans";
    --body-font: "Merriweather";
}
header {
    width:100%;
    text-align: center;
    background-color: #c2e3ff;
}
#course-title{
    font-size: 30px;
    font-weight: bold;
}
nav{
    background-color: rgb(255, 228, 192);
    display: flex;
    justify-content: space-evenly;
    color:black;
}
nav a:hover{
    color: #a56b00;
}
main{
    max-width:1920px;
    display: grid;
    justify-content: center;
    text-align: center;
}
main div{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 20px;
}
.card{
    max-width:500px;
    background-color: rgb(255, 228, 192);
    border: 2px solid rgb(168, 142, 92)
}
#profile{
    width:200px;
}